In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import  Point
import os
from os.path import  join
import numpy as np
import json

In [413]:
def getQuarter(x):
    months=x.values
    quarters=[]
    for month in months:
        if month>=1 and month<=3:
            quarters.append(1)
        elif month>=4 and month<=6:
            quarters.append(2)
        elif month>=7 and month<=9:
            quarters.append(3)
        elif month>=10 and month<=12:
            quarters.append(4)

    return quarters

In [517]:
year=2022
radius=500
quarter=4
geography_level='council'

In [518]:


if quarter==1:
    if year/4==0:
        scaling_days=91
    else:
        scaling_days=90
elif quarter==2:
    scaling_days=91
elif quarter==3 or quarter==4:
    scaling_days=92

# Q1=90/91, Q2=91, Q3=92, Q4=92

In [416]:
shape_file=f'D:\Mobile Device Data\Boundries\latest_boundries\\all_processed_boundries\\all_boundaries_gcr.gpkg'
shape=gpd.read_file(shape_file)
shape=shape.to_crs('EPSG:4326')
shape.sindex

In [417]:
if year==2021:
    root=f'D:\Mobile Device Data\OD_calculation_latest_work\HUQ_OD\\{year}\\trips'
    files=[f'{root}\\{f}' for f in os.listdir(root) if str(radius) in f]
    df=[]
    for file in files:
        df.append(pd.read_csv(file,parse_dates=['org_arival_time','org_leaving_time','dest_arival_time']))

    df=pd.concat(df).reset_index(drop=True)
else:
    fname=f'U:\\Projects\\Huq\\Faraz\\final_OD_work\\{year}\\trips\\huq_trips_{year}_all_{radius}m_5min_100m.csv'#f'D:\Mobile Device Data\OD_calculation_latest_work\HUQ_OD\\{year}\\trips\\huq_trips_{year}_all_{radius}m_5min_100m.csv'
    df=pd.read_csv(fname,parse_dates=['org_arival_time','org_leaving_time','dest_arival_time'])
df

,uid,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,trip_points,trip_time,stay_duration,observed_stay_duration
0,+hbTgG+hJpTen4QJ/hV2uw==,55.577,-3.815,2022-09-27 12:41:08+00:00,2022-09-27 13:00:38+00:00,55.873,-4.283,2022-09-27 13:13:08+00:00,"[[55.57681, -3.81503]]","[[55.82925, -4.09478], [55.84163, -4.09486], [...",12,20,0.000
1,+hbTgG+hJpTen4QJ/hV2uw==,55.873,-4.283,2022-09-27 13:13:08+00:00,2022-09-27 13:44:04+00:00,55.875,-4.293,2022-09-27 13:44:04+00:00,"[[55.87211, -4.27981], [55.87273, -4.2838], [5...",[],0,31,29.933
2,+hbTgG+hJpTen4QJ/hV2uw==,55.875,-4.293,2022-09-27 13:44:04+00:00,2022-09-27 15:25:26+00:00,55.879,-4.255,2022-09-27 15:43:55+00:00,"[[55.87413, -4.2877], [55.87568, -4.29286], [5...","[[55.87241, -4.29685], [55.87028, -4.29728], [...",18,101,100.350
3,+hbTgG+hJpTen4QJ/hV2uw==,55.879,-4.255,2022-09-27 15:43:55+00:00,2022-09-27 16:12:46+00:00,55.872,-4.282,2022-09-27 16:18:50+00:00,"[[55.87796, -4.25447], [55.87899, -4.25492], [...","[[55.8751, -4.26113], [55.8751, -4.26113], [55...",6,29,27.850
4,+hbTgG+hJpTen4QJ/hV2uw==,55.872,-4.282,2022-09-27 16:18:50+00:00,2022-09-27 16:40:05+00:00,55.875,-4.293,2022-09-27 16:40:05+00:00,"[[55.87414, -4.27803], [55.8722, -4.28146], [5...",[],0,21,20.250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
962150,zlUHpqvH4RQdaDZnROQfYg==,55.947,-4.008,2022-03-18 11:16:35+00:00,2022-03-19 16:30:58+00:00,55.976,-3.952,2022-03-19 16:32:57+00:00,"[[55.947, -4.00757]]","[[55.98557, -3.94372]]",2,1754,0.000
962151,zlUHpqvH4RQdaDZnROQfYg==,55.976,-3.952,2022-03-19 16:32:57+00:00,2022-03-19 16:43:00+00:00,55.838,-4.097,2022-03-19 16:44:59+00:00,"[[55.97573, -3.95159]]","[[55.86018, -4.0848700000000004]]",2,10,0.000
962152,zlUHpqvH4RQdaDZnROQfYg==,55.838,-4.097,2022-03-19 16:44:59+00:00,2022-03-19 16:55:03+00:00,55.781,-4.166,2022-03-19 16:55:03+00:00,"[[55.83758, -4.09677]]",[],0,10,0.000
962153,zlUHpqvH4RQdaDZnROQfYg==,55.781,-4.166,2022-03-19 16:55:03+00:00,2022-03-19 17:24:23+00:00,55.774,-4.222,2022-03-19 17:28:58+00:00,"[[55.77999, -4.16316], [55.7815, -4.16953]]","[[55.77496, -4.20188], [55.77534, -4.20237]]",5,29,1.983
962154,zlUHpqvH4RQdaDZnROQfYg==,55.774,-4.222,2022-03-19 17:28:58+00:00,2022-03-19 17:34:53+00:00,55.781,-4.268,2022-03-19 17:34:53+00:00,"[[55.7739, -4.2224]]",[],0,6,0.000

# Spatial join for Origin

In [418]:
geometry=[Point(xy) for xy in zip(df['org_lng'],df['org_lat'])]

sp_joined_df=gpd.GeoDataFrame(df,geometry=geometry,crs='EPSG:4326')

sp_joined_df.sindex
sp_joined_df=gpd.sjoin(sp_joined_df,shape[['council_area_name','geometry']],how='left',predicate='intersects')
sp_joined_df.rename(columns={'council_area_name':'origin'},inplace=True)
sp_joined_df.drop(columns=['index_right','geometry'],inplace=True)
sp_joined_df.reset_index(drop=True,inplace=True)
sp_joined_df=pd.DataFrame(sp_joined_df)
sp_joined_df

,uid,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,trip_points,trip_time,stay_duration,observed_stay_duration,origin
0,+hbTgG+hJpTen4QJ/hV2uw==,55.577,-3.815,2022-09-27 12:41:08+00:00,2022-09-27 13:00:38+00:00,55.873,-4.283,2022-09-27 13:13:08+00:00,"[[55.57681, -3.81503]]","[[55.82925, -4.09478], [55.84163, -4.09486], [...",12,20,0.000,South Lanarkshire
1,+hbTgG+hJpTen4QJ/hV2uw==,55.873,-4.283,2022-09-27 13:13:08+00:00,2022-09-27 13:44:04+00:00,55.875,-4.293,2022-09-27 13:44:04+00:00,"[[55.87211, -4.27981], [55.87273, -4.2838], [5...",[],0,31,29.933,Glasgow City
2,+hbTgG+hJpTen4QJ/hV2uw==,55.875,-4.293,2022-09-27 13:44:04+00:00,2022-09-27 15:25:26+00:00,55.879,-4.255,2022-09-27 15:43:55+00:00,"[[55.87413, -4.2877], [55.87568, -4.29286], [5...","[[55.87241, -4.29685], [55.87028, -4.29728], [...",18,101,100.350,Glasgow City
3,+hbTgG+hJpTen4QJ/hV2uw==,55.879,-4.255,2022-09-27 15:43:55+00:00,2022-09-27 16:12:46+00:00,55.872,-4.282,2022-09-27 16:18:50+00:00,"[[55.87796, -4.25447], [55.87899, -4.25492], [...","[[55.8751, -4.26113], [55.8751, -4.26113], [55...",6,29,27.850,Glasgow City
4,+hbTgG+hJpTen4QJ/hV2uw==,55.872,-4.282,2022-09-27 16:18:50+00:00,2022-09-27 16:40:05+00:00,55.875,-4.293,2022-09-27 16:40:05+00:00,"[[55.87414, -4.27803], [55.8722, -4.28146], [5...",[],0,21,20.250,Glasgow City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962150,zlUHpqvH4RQdaDZnROQfYg==,55.947,-4.008,2022-03-18 11:16:35+00:00,2022-03-19 16:30:58+00:00,55.976,-3.952,2022-03-19 16:32:57+00:00,"[[55.947, -4.00757]]","[[55.98557, -3.94372]]",2,1754,0.000,North Lanarkshire
962151,zlUHpqvH4RQdaDZnROQfYg==,55.976,-3.952,2022-03-19 16:32:57+00:00,2022-03-19 16:43:00+00:00,55.838,-4.097,2022-03-19 16:44:59+00:00,"[[55.97573, -3.95159]]","[[55.86018, -4.0848700000000004]]",2,10,0.000,North Lanarkshire
962152,zlUHpqvH4RQdaDZnROQfYg==,55.838,-4.097,2022-03-19 16:44:59+00:00,2022-03-19 16:55:03+00:00,55.781,-4.166,2022-03-19 16:55:03+00:00,"[[55.83758, -4.09677]]",[],0,10,0.000,North Lanarkshire
962153,zlUHpqvH4RQdaDZnROQfYg==,55.781,-4.166,2022-03-19 16:55:03+00:00,2022-03-19 17:24:23+00:00,55.774,-4.222,2022-03-19 17:28:58+00:00,"[[55.77999, -4.16316], [55.7815, -4.16953]]","[[55.77496, -4.20188], [55.77534, -4.20237]]",5,29,1.983,South Lanarkshire
962154,zlUHpqvH4RQdaDZnROQfYg==,55.774,-4.222,2022-03-19 17:28:58+00:00,2022-03-19 17:34:53+00:00,55.781,-4.268,2022-03-19 17:34:53+00:00,"[[55.7739, -4.2224]]",[],0,6,0.000,South Lanarkshire

# Spatial join for Destination

In [419]:
geometry=[Point(xy) for xy in zip(sp_joined_df['dest_lng'],sp_joined_df['dest_lat'])]

sp_joined_df=gpd.GeoDataFrame(sp_joined_df,geometry=geometry,crs='EPSG:4326')

sp_joined_df.sindex
sp_joined_df=gpd.sjoin(sp_joined_df,shape[['council_area_name','geometry']],how='left',predicate='intersects')
sp_joined_df.rename(columns={'council_area_name':'destination'},inplace=True)
sp_joined_df.drop(columns=['index_right','geometry'],inplace=True)
sp_joined_df.reset_index(drop=True,inplace=True)
sp_joined_df=pd.DataFrame(sp_joined_df)
sp_joined_df

,uid,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,trip_points,trip_time,stay_duration,observed_stay_duration,origin,destination
0,+hbTgG+hJpTen4QJ/hV2uw==,55.577,-3.815,2022-09-27 12:41:08+00:00,2022-09-27 13:00:38+00:00,55.873,-4.283,2022-09-27 13:13:08+00:00,"[[55.57681, -3.81503]]","[[55.82925, -4.09478], [55.84163, -4.09486], [...",12,20,0.000,South Lanarkshire,Glasgow City
1,+hbTgG+hJpTen4QJ/hV2uw==,55.873,-4.283,2022-09-27 13:13:08+00:00,2022-09-27 13:44:04+00:00,55.875,-4.293,2022-09-27 13:44:04+00:00,"[[55.87211, -4.27981], [55.87273, -4.2838], [5...",[],0,31,29.933,Glasgow City,Glasgow City
2,+hbTgG+hJpTen4QJ/hV2uw==,55.875,-4.293,2022-09-27 13:44:04+00:00,2022-09-27 15:25:26+00:00,55.879,-4.255,2022-09-27 15:43:55+00:00,"[[55.87413, -4.2877], [55.87568, -4.29286], [5...","[[55.87241, -4.29685], [55.87028, -4.29728], [...",18,101,100.350,Glasgow City,Glasgow City
3,+hbTgG+hJpTen4QJ/hV2uw==,55.879,-4.255,2022-09-27 15:43:55+00:00,2022-09-27 16:12:46+00:00,55.872,-4.282,2022-09-27 16:18:50+00:00,"[[55.87796, -4.25447], [55.87899, -4.25492], [...","[[55.8751, -4.26113], [55.8751, -4.26113], [55...",6,29,27.850,Glasgow City,Glasgow City
4,+hbTgG+hJpTen4QJ/hV2uw==,55.872,-4.282,2022-09-27 16:18:50+00:00,2022-09-27 16:40:05+00:00,55.875,-4.293,2022-09-27 16:40:05+00:00,"[[55.87414, -4.27803], [55.8722, -4.28146], [5...",[],0,21,20.250,Glasgow City,Glasgow City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962150,zlUHpqvH4RQdaDZnROQfYg==,55.947,-4.008,2022-03-18 11:16:35+00:00,2022-03-19 16:30:58+00:00,55.976,-3.952,2022-03-19 16:32:57+00:00,"[[55.947, -4.00757]]","[[55.98557, -3.94372]]",2,1754,0.000,North Lanarkshire,North Lanarkshire
962151,zlUHpqvH4RQdaDZnROQfYg==,55.976,-3.952,2022-03-19 16:32:57+00:00,2022-03-19 16:43:00+00:00,55.838,-4.097,2022-03-19 16:44:59+00:00,"[[55.97573, -3.95159]]","[[55.86018, -4.0848700000000004]]",2,10,0.000,North Lanarkshire,North Lanarkshire
962152,zlUHpqvH4RQdaDZnROQfYg==,55.838,-4.097,2022-03-19 16:44:59+00:00,2022-03-19 16:55:03+00:00,55.781,-4.166,2022-03-19 16:55:03+00:00,"[[55.83758, -4.09677]]",[],0,10,0.000,North Lanarkshire,South Lanarkshire
962153,zlUHpqvH4RQdaDZnROQfYg==,55.781,-4.166,2022-03-19 16:55:03+00:00,2022-03-19 17:24:23+00:00,55.774,-4.222,2022-03-19 17:28:58+00:00,"[[55.77999, -4.16316], [55.7815, -4.16953]]","[[55.77496, -4.20188], [55.77534, -4.20237]]",5,29,1.983,South Lanarkshire,South Lanarkshire
962154,zlUHpqvH4RQdaDZnROQfYg==,55.774,-4.222,2022-03-19 17:28:58+00:00,2022-03-19 17:34:53+00:00,55.781,-4.268,2022-03-19 17:34:53+00:00,"[[55.7739, -4.2224]]",[],0,6,0.000,South Lanarkshire,East Renfrewshire

In [519]:
geo_df=sp_joined_df.copy()

# Filtering trips based on travel time and stay duration

In [520]:
geo_df=geo_df[(geo_df['dest_arival_time']-geo_df['org_leaving_time']).dt.total_seconds()/3600<=24]
geo_df=geo_df[geo_df['stay_duration']<=3600]

geo_df['origin'].fillna('Others',inplace=True)
geo_df['destination'].fillna('Others',inplace=True)

geo_df=geo_df[geo_df['origin']!='Others']
geo_df=geo_df[geo_df['destination']!='Others']

In [521]:
len(geo_df['uid'].unique())

8149

# Adding Trip ID

In [522]:
geo_df=geo_df.assign(trip_id=lambda df: df.groupby(['uid'])['trip_time'].transform(lambda x: [i for i in range(1,len(x)+1)]))

geo_df=geo_df[['uid', 'trip_id','org_lat', 'org_lng', 'org_arival_time', 'org_leaving_time',
       'dest_lat', 'dest_lng', 'dest_arival_time', 'stay_points',
       'trip_points', 'trip_time', 'stay_duration', 'observed_stay_duration',
       'origin', 'destination']]
geo_df

,uid,trip_id,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,trip_points,trip_time,stay_duration,observed_stay_duration,origin,destination
0,+hbTgG+hJpTen4QJ/hV2uw==,1,55.577,-3.815,2022-09-27 12:41:08+00:00,2022-09-27 13:00:38+00:00,55.873,-4.283,2022-09-27 13:13:08+00:00,"[[55.57681, -3.81503]]","[[55.82925, -4.09478], [55.84163, -4.09486], [...",12,20,0.000,South Lanarkshire,Glasgow City
1,+hbTgG+hJpTen4QJ/hV2uw==,2,55.873,-4.283,2022-09-27 13:13:08+00:00,2022-09-27 13:44:04+00:00,55.875,-4.293,2022-09-27 13:44:04+00:00,"[[55.87211, -4.27981], [55.87273, -4.2838], [5...",[],0,31,29.933,Glasgow City,Glasgow City
2,+hbTgG+hJpTen4QJ/hV2uw==,3,55.875,-4.293,2022-09-27 13:44:04+00:00,2022-09-27 15:25:26+00:00,55.879,-4.255,2022-09-27 15:43:55+00:00,"[[55.87413, -4.2877], [55.87568, -4.29286], [5...","[[55.87241, -4.29685], [55.87028, -4.29728], [...",18,101,100.350,Glasgow City,Glasgow City
3,+hbTgG+hJpTen4QJ/hV2uw==,4,55.879,-4.255,2022-09-27 15:43:55+00:00,2022-09-27 16:12:46+00:00,55.872,-4.282,2022-09-27 16:18:50+00:00,"[[55.87796, -4.25447], [55.87899, -4.25492], [...","[[55.8751, -4.26113], [55.8751, -4.26113], [55...",6,29,27.850,Glasgow City,Glasgow City
4,+hbTgG+hJpTen4QJ/hV2uw==,5,55.872,-4.282,2022-09-27 16:18:50+00:00,2022-09-27 16:40:05+00:00,55.875,-4.293,2022-09-27 16:40:05+00:00,"[[55.87414, -4.27803], [55.8722, -4.28146], [5...",[],0,21,20.250,Glasgow City,Glasgow City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962150,zlUHpqvH4RQdaDZnROQfYg==,1,55.947,-4.008,2022-03-18 11:16:35+00:00,2022-03-19 16:30:58+00:00,55.976,-3.952,2022-03-19 16:32:57+00:00,"[[55.947, -4.00757]]","[[55.98557, -3.94372]]",2,1754,0.000,North Lanarkshire,North Lanarkshire
962151,zlUHpqvH4RQdaDZnROQfYg==,2,55.976,-3.952,2022-03-19 16:32:57+00:00,2022-03-19 16:43:00+00:00,55.838,-4.097,2022-03-19 16:44:59+00:00,"[[55.97573, -3.95159]]","[[55.86018, -4.0848700000000004]]",2,10,0.000,North Lanarkshire,North Lanarkshire
962152,zlUHpqvH4RQdaDZnROQfYg==,3,55.838,-4.097,2022-03-19 16:44:59+00:00,2022-03-19 16:55:03+00:00,55.781,-4.166,2022-03-19 16:55:03+00:00,"[[55.83758, -4.09677]]",[],0,10,0.000,North Lanarkshire,South Lanarkshire
962153,zlUHpqvH4RQdaDZnROQfYg==,4,55.781,-4.166,2022-03-19 16:55:03+00:00,2022-03-19 17:24:23+00:00,55.774,-4.222,2022-03-19 17:28:58+00:00,"[[55.77999, -4.16316], [55.7815, -4.16953]]","[[55.77496, -4.20188], [55.77534, -4.20237]]",5,29,1.983,South Lanarkshire,South Lanarkshire
962154,zlUHpqvH4RQdaDZnROQfYg==,5,55.774,-4.222,2022-03-19 17:28:58+00:00,2022-03-19 17:34:53+00:00,55.781,-4.268,2022-03-19 17:34:53+00:00,"[[55.7739, -4.2224]]",[],0,6,0.000,South Lanarkshire,East Renfrewshire

# Calculate Total Trips/User

In [523]:
geo_df=geo_df.assign(total_trips=lambda df: df.groupby('uid')['trip_id'].transform(lambda x: len(x)))
geo_df

,uid,trip_id,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,trip_points,trip_time,stay_duration,observed_stay_duration,origin,destination,total_trips
0,+hbTgG+hJpTen4QJ/hV2uw==,1,55.577,-3.815,2022-09-27 12:41:08+00:00,2022-09-27 13:00:38+00:00,55.873,-4.283,2022-09-27 13:13:08+00:00,"[[55.57681, -3.81503]]","[[55.82925, -4.09478], [55.84163, -4.09486], [...",12,20,0.000,South Lanarkshire,Glasgow City,15
1,+hbTgG+hJpTen4QJ/hV2uw==,2,55.873,-4.283,2022-09-27 13:13:08+00:00,2022-09-27 13:44:04+00:00,55.875,-4.293,2022-09-27 13:44:04+00:00,"[[55.87211, -4.27981], [55.87273, -4.2838], [5...",[],0,31,29.933,Glasgow City,Glasgow City,15
2,+hbTgG+hJpTen4QJ/hV2uw==,3,55.875,-4.293,2022-09-27 13:44:04+00:00,2022-09-27 15:25:26+00:00,55.879,-4.255,2022-09-27 15:43:55+00:00,"[[55.87413, -4.2877], [55.87568, -4.29286], [5...","[[55.87241, -4.29685], [55.87028, -4.29728], [...",18,101,100.350,Glasgow City,Glasgow City,15
3,+hbTgG+hJpTen4QJ/hV2uw==,4,55.879,-4.255,2022-09-27 15:43:55+00:00,2022-09-27 16:12:46+00:00,55.872,-4.282,2022-09-27 16:18:50+00:00,"[[55.87796, -4.25447], [55.87899, -4.25492], [...","[[55.8751, -4.26113], [55.8751, -4.26113], [55...",6,29,27.850,Glasgow City,Glasgow City,15
4,+hbTgG+hJpTen4QJ/hV2uw==,5,55.872,-4.282,2022-09-27 16:18:50+00:00,2022-09-27 16:40:05+00:00,55.875,-4.293,2022-09-27 16:40:05+00:00,"[[55.87414, -4.27803], [55.8722, -4.28146], [5...",[],0,21,20.250,Glasgow City,Glasgow City,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962150,zlUHpqvH4RQdaDZnROQfYg==,1,55.947,-4.008,2022-03-18 11:16:35+00:00,2022-03-19 16:30:58+00:00,55.976,-3.952,2022-03-19 16:32:57+00:00,"[[55.947, -4.00757]]","[[55.98557, -3.94372]]",2,1754,0.000,North Lanarkshire,North Lanarkshire,5
962151,zlUHpqvH4RQdaDZnROQfYg==,2,55.976,-3.952,2022-03-19 16:32:57+00:00,2022-03-19 16:43:00+00:00,55.838,-4.097,2022-03-19 16:44:59+00:00,"[[55.97573, -3.95159]]","[[55.86018, -4.0848700000000004]]",2,10,0.000,North Lanarkshire,North Lanarkshire,5
962152,zlUHpqvH4RQdaDZnROQfYg==,3,55.838,-4.097,2022-03-19 16:44:59+00:00,2022-03-19 16:55:03+00:00,55.781,-4.166,2022-03-19 16:55:03+00:00,"[[55.83758, -4.09677]]",[],0,10,0.000,North Lanarkshire,South Lanarkshire,5
962153,zlUHpqvH4RQdaDZnROQfYg==,4,55.781,-4.166,2022-03-19 16:55:03+00:00,2022-03-19 17:24:23+00:00,55.774,-4.222,2022-03-19 17:28:58+00:00,"[[55.77999, -4.16316], [55.7815, -4.16953]]","[[55.77496, -4.20188], [55.77534, -4.20237]]",5,29,1.983,South Lanarkshire,South Lanarkshire,5
962154,zlUHpqvH4RQdaDZnROQfYg==,5,55.774,-4.222,2022-03-19 17:28:58+00:00,2022-03-19 17:34:53+00:00,55.781,-4.268,2022-03-19 17:34:53+00:00,"[[55.7739, -4.2224]]",[],0,6,0.000,South Lanarkshire,East Renfrewshire,5

In [524]:
len(geo_df['uid'].unique())

8149

# Add Quarter

In [525]:
geo_df['month']=geo_df['org_leaving_time'].dt.month
geo_df['quarter']=geo_df.groupby(['uid','month'])['month'].transform(getQuarter)
geo_df.drop(columns=['month'],inplace=True)

# Fetch Quarter Data

In [526]:

geo_df=geo_df[geo_df['quarter']==quarter]

geo_df

,uid,trip_id,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,trip_points,trip_time,stay_duration,observed_stay_duration,origin,destination,total_trips,quarter
9,+hbTgG+hJpTen4QJ/hV2uw==,9,55.867,-4.248,2022-11-22 16:05:04+00:00,2022-11-22 16:10:08+00:00,55.859,-4.242,2022-11-22 16:14:09+00:00,"[[55.86967, -4.2478], [55.86743, -4.24832], [5...","[[55.8649, -4.24864], [55.86194, -4.24963], [5...",4,5,4.050,Glasgow City,Glasgow City,15,4
10,+hbTgG+hJpTen4QJ/hV2uw==,10,55.859,-4.242,2022-11-22 16:14:09+00:00,2022-11-22 16:19:13+00:00,55.868,-4.307,2022-11-22 16:33:20+00:00,"[[55.86063, -4.24173], [55.86043, -4.24015], [...","[[55.85532, -4.24512], [55.8537, -4.24812], [5...",14,5,4.050,Glasgow City,Glasgow City,15,4
11,+hbTgG+hJpTen4QJ/hV2uw==,11,55.868,-4.307,2022-11-22 16:33:20+00:00,2022-11-22 17:21:27+00:00,55.875,-4.294,2022-11-22 17:21:27+00:00,"[[55.86665, -4.30394], [55.86665, -4.30394], [...",[],0,48,21.633,Glasgow City,Glasgow City,15,4
12,+hbTgG+hJpTen4QJ/hV2uw==,12,55.875,-4.294,2022-11-22 17:21:27+00:00,2022-11-22 19:29:34+00:00,55.872,-4.282,2022-11-22 19:29:34+00:00,"[[55.87531, -4.29422], [55.87529, -4.29424], [...",[],0,128,127.000,Glasgow City,Glasgow City,15,4
13,+hbTgG+hJpTen4QJ/hV2uw==,13,55.872,-4.282,2022-11-22 19:29:34+00:00,2022-11-22 20:45:32+00:00,55.865,-4.255,2022-11-22 20:52:44+00:00,"[[55.876, -4.2839], [55.87451, -4.28158], [55....","[[55.87197, -4.27964], [55.87305, -4.27907], [...",7,76,74.900,Glasgow City,Glasgow City,15,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961286,x7f2PciEPKZDmzFmQV1kyQ==,702,56.004,-4.565,2022-11-01 15:46:12+00:00,2022-11-03 15:50:22+00:00,55.987,-4.585,2022-11-03 15:50:22+00:00,"[[56.00359, -4.56514], [56.00359, -4.56514], [...",[],0,2884,2827.200,West Dunbartonshire,West Dunbartonshire,706,4
961287,x7f2PciEPKZDmzFmQV1kyQ==,703,55.987,-4.585,2022-11-03 15:50:22+00:00,2022-11-03 16:32:50+00:00,56.004,-4.565,2022-11-03 16:32:50+00:00,"[[55.98719, -4.58454], [55.98698, -4.58489], [...",[],0,42,2.517,West Dunbartonshire,West Dunbartonshire,706,4
961288,x7f2PciEPKZDmzFmQV1kyQ==,704,56.004,-4.565,2022-11-03 16:32:50+00:00,2022-11-04 14:06:39+00:00,55.987,-4.580,2022-11-04 14:06:39+00:00,"[[56.00359, -4.56514], [56.0036, -4.56514], [5...",[],0,1294,1292.150,West Dunbartonshire,West Dunbartonshire,706,4
961289,x7f2PciEPKZDmzFmQV1kyQ==,705,55.987,-4.580,2022-11-04 14:06:39+00:00,2022-11-04 14:16:13+00:00,55.997,-4.587,2022-11-04 14:17:17+00:00,"[[55.98726, -4.58025], [55.9873, -4.58046], [5...","[[55.99149, -4.58375]]",1,10,7.633,West Dunbartonshire,West Dunbartonshire,706,4
961290,x7f2PciEPKZDmzFmQV1kyQ==,706,55.997,-4.587,2022-11-04 14:17:17+00:00,2022-11-04 14:27:41+00:00,56.004,-4.565,2022-11-04 14:30:44+00:00,"[[55.99699, -4.58749]]","[[56.00495, -4.59102]]",3,10,0.000,West Dunbartonshire,West Dunbartonshire,706,4

In [527]:
len(geo_df['uid'].unique())

1678

# Calculate Total Quarter Trips

In [528]:
geo_df=geo_df.assign(total_quarter_trips=lambda df: df.groupby('uid')['trip_id'].transform(lambda x: len(x)))
geo_df

,uid,trip_id,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,trip_points,trip_time,stay_duration,observed_stay_duration,origin,destination,total_trips,quarter,total_quarter_trips
9,+hbTgG+hJpTen4QJ/hV2uw==,9,55.867,-4.248,2022-11-22 16:05:04+00:00,2022-11-22 16:10:08+00:00,55.859,-4.242,2022-11-22 16:14:09+00:00,"[[55.86967, -4.2478], [55.86743, -4.24832], [5...","[[55.8649, -4.24864], [55.86194, -4.24963], [5...",4,5,4.050,Glasgow City,Glasgow City,15,4,7
10,+hbTgG+hJpTen4QJ/hV2uw==,10,55.859,-4.242,2022-11-22 16:14:09+00:00,2022-11-22 16:19:13+00:00,55.868,-4.307,2022-11-22 16:33:20+00:00,"[[55.86063, -4.24173], [55.86043, -4.24015], [...","[[55.85532, -4.24512], [55.8537, -4.24812], [5...",14,5,4.050,Glasgow City,Glasgow City,15,4,7
11,+hbTgG+hJpTen4QJ/hV2uw==,11,55.868,-4.307,2022-11-22 16:33:20+00:00,2022-11-22 17:21:27+00:00,55.875,-4.294,2022-11-22 17:21:27+00:00,"[[55.86665, -4.30394], [55.86665, -4.30394], [...",[],0,48,21.633,Glasgow City,Glasgow City,15,4,7
12,+hbTgG+hJpTen4QJ/hV2uw==,12,55.875,-4.294,2022-11-22 17:21:27+00:00,2022-11-22 19:29:34+00:00,55.872,-4.282,2022-11-22 19:29:34+00:00,"[[55.87531, -4.29422], [55.87529, -4.29424], [...",[],0,128,127.000,Glasgow City,Glasgow City,15,4,7
13,+hbTgG+hJpTen4QJ/hV2uw==,13,55.872,-4.282,2022-11-22 19:29:34+00:00,2022-11-22 20:45:32+00:00,55.865,-4.255,2022-11-22 20:52:44+00:00,"[[55.876, -4.2839], [55.87451, -4.28158], [55....","[[55.87197, -4.27964], [55.87305, -4.27907], [...",7,76,74.900,Glasgow City,Glasgow City,15,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961286,x7f2PciEPKZDmzFmQV1kyQ==,702,56.004,-4.565,2022-11-01 15:46:12+00:00,2022-11-03 15:50:22+00:00,55.987,-4.585,2022-11-03 15:50:22+00:00,"[[56.00359, -4.56514], [56.00359, -4.56514], [...",[],0,2884,2827.200,West Dunbartonshire,West Dunbartonshire,706,4,24
961287,x7f2PciEPKZDmzFmQV1kyQ==,703,55.987,-4.585,2022-11-03 15:50:22+00:00,2022-11-03 16:32:50+00:00,56.004,-4.565,2022-11-03 16:32:50+00:00,"[[55.98719, -4.58454], [55.98698, -4.58489], [...",[],0,42,2.517,West Dunbartonshire,West Dunbartonshire,706,4,24
961288,x7f2PciEPKZDmzFmQV1kyQ==,704,56.004,-4.565,2022-11-03 16:32:50+00:00,2022-11-04 14:06:39+00:00,55.987,-4.580,2022-11-04 14:06:39+00:00,"[[56.00359, -4.56514], [56.0036, -4.56514], [5...",[],0,1294,1292.150,West Dunbartonshire,West Dunbartonshire,706,4,24
961289,x7f2PciEPKZDmzFmQV1kyQ==,705,55.987,-4.580,2022-11-04 14:06:39+00:00,2022-11-04 14:16:13+00:00,55.997,-4.587,2022-11-04 14:17:17+00:00,"[[55.98726, -4.58025], [55.9873, -4.58046], [5...","[[55.99149, -4.58375]]",1,10,7.633,West Dunbartonshire,West Dunbartonshire,706,4,24
961290,x7f2PciEPKZDmzFmQV1kyQ==,706,55.997,-4.587,2022-11-04 14:17:17+00:00,2022-11-04 14:27:41+00:00,56.004,-4.565,2022-11-04 14:30:44+00:00,"[[55.99699, -4.58749]]","[[56.00495, -4.59102]]",3,10,0.000,West Dunbartonshire,West Dunbartonshire,706,4,24

# Add Trips/Active Day

In [529]:
active_day_df=pd.read_csv(f'U:\\Projects\\Huq\\Faraz\\final_OD_work\\{year}\\active_days_stat_{year}.csv') #f'D:\Mobile Device Data\OD_calculation_latest_work\HUQ_OD\\{year}\\active_days_stat_{year}.csv'
active_day_df=active_day_df[active_day_df[f'active_days_q{quarter}']>2]
active_day_df

,uid,active_days_q1,active_days_q2,active_days_q3,active_days_q4,total_active_days
0,++E3j/UFIC0ZxfdM+8UeLw==,87.000,91.000,85.000,87.000,350.000
3,+/9GKZn4Daa1UzhExi+GWg==,0.000,0.000,0.000,8.000,8.000
6,+/dRT+AUW1FTIIky2B3dtA==,5.000,0.000,1.000,3.000,9.000
9,+12IpL6oe4Yb6WiIlfxV8A==,55.000,61.000,43.000,32.000,191.000
15,+2J5DBp6sj80cvKaPAknUg==,37.000,28.000,30.000,40.000,135.000
...,...,...,...,...,...,...
15133,zmWbkZmPWEphoa1jQjeE5w==,0.000,0.000,1.000,15.000,16.000
15137,zo5pfaRoIaDSWJqzJpLrxA==,0.000,0.000,7.000,3.000,10.000
15148,zrmGkacQdq4MNg/+wv5y7w==,0.000,0.000,0.000,4.000,4.000
15152,zsJJO7VJhgZpT6adNc62sw==,0.000,0.000,0.000,3.000,3.000
15175,zy14QAdQfo3IAYpSCbCllA==,0.000,0.000,11.000,74.000,85.000

In [530]:
geo_df=geo_df[geo_df['uid'].isin(active_day_df['uid'])]
geo_df

,uid,trip_id,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,trip_points,trip_time,stay_duration,observed_stay_duration,origin,destination,total_trips,quarter,total_quarter_trips
9,+hbTgG+hJpTen4QJ/hV2uw==,9,55.867,-4.248,2022-11-22 16:05:04+00:00,2022-11-22 16:10:08+00:00,55.859,-4.242,2022-11-22 16:14:09+00:00,"[[55.86967, -4.2478], [55.86743, -4.24832], [5...","[[55.8649, -4.24864], [55.86194, -4.24963], [5...",4,5,4.050,Glasgow City,Glasgow City,15,4,7
10,+hbTgG+hJpTen4QJ/hV2uw==,10,55.859,-4.242,2022-11-22 16:14:09+00:00,2022-11-22 16:19:13+00:00,55.868,-4.307,2022-11-22 16:33:20+00:00,"[[55.86063, -4.24173], [55.86043, -4.24015], [...","[[55.85532, -4.24512], [55.8537, -4.24812], [5...",14,5,4.050,Glasgow City,Glasgow City,15,4,7
11,+hbTgG+hJpTen4QJ/hV2uw==,11,55.868,-4.307,2022-11-22 16:33:20+00:00,2022-11-22 17:21:27+00:00,55.875,-4.294,2022-11-22 17:21:27+00:00,"[[55.86665, -4.30394], [55.86665, -4.30394], [...",[],0,48,21.633,Glasgow City,Glasgow City,15,4,7
12,+hbTgG+hJpTen4QJ/hV2uw==,12,55.875,-4.294,2022-11-22 17:21:27+00:00,2022-11-22 19:29:34+00:00,55.872,-4.282,2022-11-22 19:29:34+00:00,"[[55.87531, -4.29422], [55.87529, -4.29424], [...",[],0,128,127.000,Glasgow City,Glasgow City,15,4,7
13,+hbTgG+hJpTen4QJ/hV2uw==,13,55.872,-4.282,2022-11-22 19:29:34+00:00,2022-11-22 20:45:32+00:00,55.865,-4.255,2022-11-22 20:52:44+00:00,"[[55.876, -4.2839], [55.87451, -4.28158], [55....","[[55.87197, -4.27964], [55.87305, -4.27907], [...",7,76,74.900,Glasgow City,Glasgow City,15,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961286,x7f2PciEPKZDmzFmQV1kyQ==,702,56.004,-4.565,2022-11-01 15:46:12+00:00,2022-11-03 15:50:22+00:00,55.987,-4.585,2022-11-03 15:50:22+00:00,"[[56.00359, -4.56514], [56.00359, -4.56514], [...",[],0,2884,2827.200,West Dunbartonshire,West Dunbartonshire,706,4,24
961287,x7f2PciEPKZDmzFmQV1kyQ==,703,55.987,-4.585,2022-11-03 15:50:22+00:00,2022-11-03 16:32:50+00:00,56.004,-4.565,2022-11-03 16:32:50+00:00,"[[55.98719, -4.58454], [55.98698, -4.58489], [...",[],0,42,2.517,West Dunbartonshire,West Dunbartonshire,706,4,24
961288,x7f2PciEPKZDmzFmQV1kyQ==,704,56.004,-4.565,2022-11-03 16:32:50+00:00,2022-11-04 14:06:39+00:00,55.987,-4.580,2022-11-04 14:06:39+00:00,"[[56.00359, -4.56514], [56.0036, -4.56514], [5...",[],0,1294,1292.150,West Dunbartonshire,West Dunbartonshire,706,4,24
961289,x7f2PciEPKZDmzFmQV1kyQ==,705,55.987,-4.580,2022-11-04 14:06:39+00:00,2022-11-04 14:16:13+00:00,55.997,-4.587,2022-11-04 14:17:17+00:00,"[[55.98726, -4.58025], [55.9873, -4.58046], [5...","[[55.99149, -4.58375]]",1,10,7.633,West Dunbartonshire,West Dunbartonshire,706,4,24
961290,x7f2PciEPKZDmzFmQV1kyQ==,706,55.997,-4.587,2022-11-04 14:17:17+00:00,2022-11-04 14:27:41+00:00,56.004,-4.565,2022-11-04 14:30:44+00:00,"[[55.99699, -4.58749]]","[[56.00495, -4.59102]]",3,10,0.000,West Dunbartonshire,West Dunbartonshire,706,4,24

In [531]:
len(geo_df['uid'].unique())

1291

In [532]:
geo_df=(
    geo_df.merge(active_day_df,how='left',left_on='uid',right_on='uid')
    .assign(tpad=lambda tdf: tdf['total_quarter_trips']/tdf[f'active_days_q{quarter}'])
    )
geo_df

,uid,trip_id,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,...,destination,total_trips,quarter,total_quarter_trips,active_days_q1,active_days_q2,active_days_q3,active_days_q4,total_active_days,tpad
0,+hbTgG+hJpTen4QJ/hV2uw==,9,55.867,-4.248,2022-11-22 16:05:04+00:00,2022-11-22 16:10:08+00:00,55.859,-4.242,2022-11-22 16:14:09+00:00,"[[55.86967, -4.2478], [55.86743, -4.24832], [5...",...,Glasgow City,15,4,7,0.000,0.000,2.000,4.000,6.000,1.750
1,+hbTgG+hJpTen4QJ/hV2uw==,10,55.859,-4.242,2022-11-22 16:14:09+00:00,2022-11-22 16:19:13+00:00,55.868,-4.307,2022-11-22 16:33:20+00:00,"[[55.86063, -4.24173], [55.86043, -4.24015], [...",...,Glasgow City,15,4,7,0.000,0.000,2.000,4.000,6.000,1.750
2,+hbTgG+hJpTen4QJ/hV2uw==,11,55.868,-4.307,2022-11-22 16:33:20+00:00,2022-11-22 17:21:27+00:00,55.875,-4.294,2022-11-22 17:21:27+00:00,"[[55.86665, -4.30394], [55.86665, -4.30394], [...",...,Glasgow City,15,4,7,0.000,0.000,2.000,4.000,6.000,1.750
3,+hbTgG+hJpTen4QJ/hV2uw==,12,55.875,-4.294,2022-11-22 17:21:27+00:00,2022-11-22 19:29:34+00:00,55.872,-4.282,2022-11-22 19:29:34+00:00,"[[55.87531, -4.29422], [55.87529, -4.29424], [...",...,Glasgow City,15,4,7,0.000,0.000,2.000,4.000,6.000,1.750
4,+hbTgG+hJpTen4QJ/hV2uw==,13,55.872,-4.282,2022-11-22 19:29:34+00:00,2022-11-22 20:45:32+00:00,55.865,-4.255,2022-11-22 20:52:44+00:00,"[[55.876, -4.2839], [55.87451, -4.28158], [55....",...,Glasgow City,15,4,7,0.000,0.000,2.000,4.000,6.000,1.750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110397,x7f2PciEPKZDmzFmQV1kyQ==,702,56.004,-4.565,2022-11-01 15:46:12+00:00,2022-11-03 15:50:22+00:00,55.987,-4.585,2022-11-03 15:50:22+00:00,"[[56.00359, -4.56514], [56.00359, -4.56514], [...",...,West Dunbartonshire,706,4,24,89.000,89.000,92.000,22.000,292.000,1.091
110398,x7f2PciEPKZDmzFmQV1kyQ==,703,55.987,-4.585,2022-11-03 15:50:22+00:00,2022-11-03 16:32:50+00:00,56.004,-4.565,2022-11-03 16:32:50+00:00,"[[55.98719, -4.58454], [55.98698, -4.58489], [...",...,West Dunbartonshire,706,4,24,89.000,89.000,92.000,22.000,292.000,1.091
110399,x7f2PciEPKZDmzFmQV1kyQ==,704,56.004,-4.565,2022-11-03 16:32:50+00:00,2022-11-04 14:06:39+00:00,55.987,-4.580,2022-11-04 14:06:39+00:00,"[[56.00359, -4.56514], [56.0036, -4.56514], [5...",...,West Dunbartonshire,706,4,24,89.000,89.000,92.000,22.000,292.000,1.091
110400,x7f2PciEPKZDmzFmQV1kyQ==,705,55.987,-4.580,2022-11-04 14:06:39+00:00,2022-11-04 14:16:13+00:00,55.997,-4.587,2022-11-04 14:17:17+00:00,"[[55.98726, -4.58025], [55.9873, -4.58046], [5...",...,West Dunbartonshire,706,4,24,89.000,89.000,92.000,22.000,292.000,1.091
110401,x7f2PciEPKZDmzFmQV1kyQ==,706,55.997,-4.587,2022-11-04 14:17:17+00:00,2022-11-04 14:27:41+00:00,56.004,-4.565,2022-11-04 14:30:44+00:00,"[[55.99699, -4.58749]]",...,West Dunbartonshire,706,4,24,89.000,89.000,92.000,22.000,292.000,1.091

# Add Year and Distance Threshold (radius)

In [533]:
geo_df=geo_df.assign(year=year,distance_threshold=radius)
geo_df

,uid,trip_id,org_lat,org_lng,org_arival_time,org_leaving_time,dest_lat,dest_lng,dest_arival_time,stay_points,...,quarter,total_quarter_trips,active_days_q1,active_days_q2,active_days_q3,active_days_q4,total_active_days,tpad,year,distance_threshold
0,+hbTgG+hJpTen4QJ/hV2uw==,9,55.867,-4.248,2022-11-22 16:05:04+00:00,2022-11-22 16:10:08+00:00,55.859,-4.242,2022-11-22 16:14:09+00:00,"[[55.86967, -4.2478], [55.86743, -4.24832], [5...",...,4,7,0.000,0.000,2.000,4.000,6.000,1.750,2022,500
1,+hbTgG+hJpTen4QJ/hV2uw==,10,55.859,-4.242,2022-11-22 16:14:09+00:00,2022-11-22 16:19:13+00:00,55.868,-4.307,2022-11-22 16:33:20+00:00,"[[55.86063, -4.24173], [55.86043, -4.24015], [...",...,4,7,0.000,0.000,2.000,4.000,6.000,1.750,2022,500
2,+hbTgG+hJpTen4QJ/hV2uw==,11,55.868,-4.307,2022-11-22 16:33:20+00:00,2022-11-22 17:21:27+00:00,55.875,-4.294,2022-11-22 17:21:27+00:00,"[[55.86665, -4.30394], [55.86665, -4.30394], [...",...,4,7,0.000,0.000,2.000,4.000,6.000,1.750,2022,500
3,+hbTgG+hJpTen4QJ/hV2uw==,12,55.875,-4.294,2022-11-22 17:21:27+00:00,2022-11-22 19:29:34+00:00,55.872,-4.282,2022-11-22 19:29:34+00:00,"[[55.87531, -4.29422], [55.87529, -4.29424], [...",...,4,7,0.000,0.000,2.000,4.000,6.000,1.750,2022,500
4,+hbTgG+hJpTen4QJ/hV2uw==,13,55.872,-4.282,2022-11-22 19:29:34+00:00,2022-11-22 20:45:32+00:00,55.865,-4.255,2022-11-22 20:52:44+00:00,"[[55.876, -4.2839], [55.87451, -4.28158], [55....",...,4,7,0.000,0.000,2.000,4.000,6.000,1.750,2022,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110397,x7f2PciEPKZDmzFmQV1kyQ==,702,56.004,-4.565,2022-11-01 15:46:12+00:00,2022-11-03 15:50:22+00:00,55.987,-4.585,2022-11-03 15:50:22+00:00,"[[56.00359, -4.56514], [56.00359, -4.56514], [...",...,4,24,89.000,89.000,92.000,22.000,292.000,1.091,2022,500
110398,x7f2PciEPKZDmzFmQV1kyQ==,703,55.987,-4.585,2022-11-03 15:50:22+00:00,2022-11-03 16:32:50+00:00,56.004,-4.565,2022-11-03 16:32:50+00:00,"[[55.98719, -4.58454], [55.98698, -4.58489], [...",...,4,24,89.000,89.000,92.000,22.000,292.000,1.091,2022,500
110399,x7f2PciEPKZDmzFmQV1kyQ==,704,56.004,-4.565,2022-11-03 16:32:50+00:00,2022-11-04 14:06:39+00:00,55.987,-4.580,2022-11-04 14:06:39+00:00,"[[56.00359, -4.56514], [56.0036, -4.56514], [5...",...,4,24,89.000,89.000,92.000,22.000,292.000,1.091,2022,500
110400,x7f2PciEPKZDmzFmQV1kyQ==,705,55.987,-4.580,2022-11-04 14:06:39+00:00,2022-11-04 14:16:13+00:00,55.997,-4.587,2022-11-04 14:17:17+00:00,"[[55.98726, -4.58025], [55.9873, -4.58046], [5...",...,4,24,89.000,89.000,92.000,22.000,292.000,1.091,2022,500
110401,x7f2PciEPKZDmzFmQV1kyQ==,706,55.997,-4.587,2022-11-04 14:17:17+00:00,2022-11-04 14:27:41+00:00,56.004,-4.565,2022-11-04 14:30:44+00:00,"[[55.99699, -4.58749]]",...,4,24,89.000,89.000,92.000,22.000,292.000,1.091,2022,500

In [534]:
geo_df.columns

Index(['uid', 'trip_id', 'org_lat', 'org_lng', 'org_arival_time',
       'org_leaving_time', 'dest_lat', 'dest_lng', 'dest_arival_time',
       'stay_points', 'trip_points', 'trip_time', 'stay_duration',
       'observed_stay_duration', 'origin', 'destination', 'total_trips',
       'quarter', 'total_quarter_trips', 'active_days_q1', 'active_days_q2',
       'active_days_q3', 'active_days_q4', 'total_active_days', 'tpad', 'year',
       'distance_threshold'],
      dtype='object')

# Add SIMD Level

In [535]:
hlfile=f'D:\Mobile Device Data\OD_calculation_latest_work\\aux_files\homelocations_huq_{year}_subset_joined.csv'
hldf=pd.read_csv(hlfile)

geo_df=(
    geo_df.merge(hldf[['Device_iid_hash','simd_quintile']],left_on='uid', right_on='Device_iid_hash',how='left')
    .drop(columns=['Device_iid_hash'])[[
        'year',
        'quarter',
        'distance_threshold',
        'uid', 
        'simd_quintile',
        'trip_id',
        'org_lat',
        'org_lng',
        'org_arival_time',
        'org_leaving_time', 
        'dest_lat', 
        'dest_lng',
        'origin',
        'destination',
        'dest_arival_time',
        'stay_points',
        'trip_points',
        'trip_time',
        'stay_duration',
       'observed_stay_duration', 
       'total_trips',
       'total_quarter_trips', 
       'active_days_q1', 
       'active_days_q2',
       'active_days_q3', 
       'active_days_q4', 
       'total_active_days', 
       'tpad'
    ]]
)

geo_df

,year,quarter,distance_threshold,uid,simd_quintile,trip_id,org_lat,org_lng,org_arival_time,org_leaving_time,...,stay_duration,observed_stay_duration,total_trips,total_quarter_trips,active_days_q1,active_days_q2,active_days_q3,active_days_q4,total_active_days,tpad
0,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,9,55.867,-4.248,2022-11-22 16:05:04+00:00,2022-11-22 16:10:08+00:00,...,5,4.050,15,7,0.000,0.000,2.000,4.000,6.000,1.750
1,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,10,55.859,-4.242,2022-11-22 16:14:09+00:00,2022-11-22 16:19:13+00:00,...,5,4.050,15,7,0.000,0.000,2.000,4.000,6.000,1.750
2,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,11,55.868,-4.307,2022-11-22 16:33:20+00:00,2022-11-22 17:21:27+00:00,...,48,21.633,15,7,0.000,0.000,2.000,4.000,6.000,1.750
3,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,12,55.875,-4.294,2022-11-22 17:21:27+00:00,2022-11-22 19:29:34+00:00,...,128,127.000,15,7,0.000,0.000,2.000,4.000,6.000,1.750
4,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,13,55.872,-4.282,2022-11-22 19:29:34+00:00,2022-11-22 20:45:32+00:00,...,76,74.900,15,7,0.000,0.000,2.000,4.000,6.000,1.750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110397,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,702,56.004,-4.565,2022-11-01 15:46:12+00:00,2022-11-03 15:50:22+00:00,...,2884,2827.200,706,24,89.000,89.000,92.000,22.000,292.000,1.091
110398,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,703,55.987,-4.585,2022-11-03 15:50:22+00:00,2022-11-03 16:32:50+00:00,...,42,2.517,706,24,89.000,89.000,92.000,22.000,292.000,1.091
110399,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,704,56.004,-4.565,2022-11-03 16:32:50+00:00,2022-11-04 14:06:39+00:00,...,1294,1292.150,706,24,89.000,89.000,92.000,22.000,292.000,1.091
110400,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,705,55.987,-4.580,2022-11-04 14:06:39+00:00,2022-11-04 14:16:13+00:00,...,10,7.633,706,24,89.000,89.000,92.000,22.000,292.000,1.091
110401,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,706,55.997,-4.587,2022-11-04 14:17:17+00:00,2022-11-04 14:27:41+00:00,...,10,0.000,706,24,89.000,89.000,92.000,22.000,292.000,1.091

# Add Travel Mode Placeholder

In [536]:
geo_df=geo_df.assign(travel_mode=np.nan)

# Filtering based on number of active days and trips/active day

In [537]:
geo_df=geo_df[(geo_df[f'active_days_q{quarter}']>=3)&(geo_df['tpad']>=0.2)]

geo_df

,year,quarter,distance_threshold,uid,simd_quintile,trip_id,org_lat,org_lng,org_arival_time,org_leaving_time,...,observed_stay_duration,total_trips,total_quarter_trips,active_days_q1,active_days_q2,active_days_q3,active_days_q4,total_active_days,tpad,travel_mode
0,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,9,55.867,-4.248,2022-11-22 16:05:04+00:00,2022-11-22 16:10:08+00:00,...,4.050,15,7,0.000,0.000,2.000,4.000,6.000,1.750,NaN
1,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,10,55.859,-4.242,2022-11-22 16:14:09+00:00,2022-11-22 16:19:13+00:00,...,4.050,15,7,0.000,0.000,2.000,4.000,6.000,1.750,NaN
2,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,11,55.868,-4.307,2022-11-22 16:33:20+00:00,2022-11-22 17:21:27+00:00,...,21.633,15,7,0.000,0.000,2.000,4.000,6.000,1.750,NaN
3,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,12,55.875,-4.294,2022-11-22 17:21:27+00:00,2022-11-22 19:29:34+00:00,...,127.000,15,7,0.000,0.000,2.000,4.000,6.000,1.750,NaN
4,2022,4,500,+hbTgG+hJpTen4QJ/hV2uw==,NaN,13,55.872,-4.282,2022-11-22 19:29:34+00:00,2022-11-22 20:45:32+00:00,...,74.900,15,7,0.000,0.000,2.000,4.000,6.000,1.750,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110397,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,702,56.004,-4.565,2022-11-01 15:46:12+00:00,2022-11-03 15:50:22+00:00,...,2827.200,706,24,89.000,89.000,92.000,22.000,292.000,1.091,NaN
110398,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,703,55.987,-4.585,2022-11-03 15:50:22+00:00,2022-11-03 16:32:50+00:00,...,2.517,706,24,89.000,89.000,92.000,22.000,292.000,1.091,NaN
110399,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,704,56.004,-4.565,2022-11-03 16:32:50+00:00,2022-11-04 14:06:39+00:00,...,1292.150,706,24,89.000,89.000,92.000,22.000,292.000,1.091,NaN
110400,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,705,55.987,-4.580,2022-11-04 14:06:39+00:00,2022-11-04 14:16:13+00:00,...,7.633,706,24,89.000,89.000,92.000,22.000,292.000,1.091,NaN
110401,2022,4,500,x7f2PciEPKZDmzFmQV1kyQ==,1.000,706,55.997,-4.587,2022-11-04 14:17:17+00:00,2022-11-04 14:27:41+00:00,...,0.000,706,24,89.000,89.000,92.000,22.000,292.000,1.091,NaN

In [538]:
len(geo_df['uid'].unique())

1130

# Get number of Trips between orgins and destination for individual users

In [539]:
od_trip_df=pd.DataFrame(geo_df.groupby(['uid','origin','destination']).apply(lambda x: len(x)),columns=['trips']).reset_index()

od_trip_df=(
    od_trip_df.merge(active_day_df,how='left',left_on='uid',right_on='uid')
    .assign(tpad=lambda tdf: tdf['trips']/tdf[f'active_days_q{quarter}'])
    )

od_trip_df

,uid,origin,destination,trips,active_days_q1,active_days_q2,active_days_q3,active_days_q4,total_active_days,tpad
0,++E3j/UFIC0ZxfdM+8UeLw==,East Renfrewshire,Glasgow City,2,87.000,91.000,85.000,87.000,350.000,0.023
1,++E3j/UFIC0ZxfdM+8UeLw==,Glasgow City,East Renfrewshire,2,87.000,91.000,85.000,87.000,350.000,0.023
2,++E3j/UFIC0ZxfdM+8UeLw==,Glasgow City,Glasgow City,118,87.000,91.000,85.000,87.000,350.000,1.356
3,++E3j/UFIC0ZxfdM+8UeLw==,Glasgow City,South Lanarkshire,12,87.000,91.000,85.000,87.000,350.000,0.138
4,++E3j/UFIC0ZxfdM+8UeLw==,South Lanarkshire,Glasgow City,13,87.000,91.000,85.000,87.000,350.000,0.149
...,...,...,...,...,...,...,...,...,...,...
6936,zy14QAdQfo3IAYpSCbCllA==,North Lanarkshire,North Lanarkshire,2,0.000,0.000,11.000,74.000,85.000,0.027
6937,zy14QAdQfo3IAYpSCbCllA==,North Lanarkshire,South Lanarkshire,1,0.000,0.000,11.000,74.000,85.000,0.014
6938,zy14QAdQfo3IAYpSCbCllA==,South Lanarkshire,Glasgow City,6,0.000,0.000,11.000,74.000,85.000,0.081
6939,zy14QAdQfo3IAYpSCbCllA==,South Lanarkshire,North Lanarkshire,2,0.000,0.000,11.000,74.000,85.000,0.027
6940,zy14QAdQfo3IAYpSCbCllA==,South Lanarkshire,South Lanarkshire,3,0.000,0.000,11.000,74.000,85.000,0.041

# Weighting and Extrapolation Using Active Days Data
## Calculate SIMD and Council Weights

In [540]:
hlfile=f'D:\Mobile Device Data\OD_calculation_latest_work\\aux_files\homelocations_huq_{year}_subset_joined.csv'
hldf=pd.read_csv(hlfile)

od_trip_df=pd.merge(od_trip_df,hldf[['Device_iid_hash','council','simd_quintile']],how='left',left_on='uid',right_on='Device_iid_hash').drop(columns=['Device_iid_hash'])
od_trip_df

,uid,origin,destination,trips,active_days_q1,active_days_q2,active_days_q3,active_days_q4,total_active_days,tpad,council,simd_quintile
0,++E3j/UFIC0ZxfdM+8UeLw==,East Renfrewshire,Glasgow City,2,87.000,91.000,85.000,87.000,350.000,0.023,Glasgow City,3.000
1,++E3j/UFIC0ZxfdM+8UeLw==,Glasgow City,East Renfrewshire,2,87.000,91.000,85.000,87.000,350.000,0.023,Glasgow City,3.000
2,++E3j/UFIC0ZxfdM+8UeLw==,Glasgow City,Glasgow City,118,87.000,91.000,85.000,87.000,350.000,1.356,Glasgow City,3.000
3,++E3j/UFIC0ZxfdM+8UeLw==,Glasgow City,South Lanarkshire,12,87.000,91.000,85.000,87.000,350.000,0.138,Glasgow City,3.000
4,++E3j/UFIC0ZxfdM+8UeLw==,South Lanarkshire,Glasgow City,13,87.000,91.000,85.000,87.000,350.000,0.149,Glasgow City,3.000
...,...,...,...,...,...,...,...,...,...,...,...,...
6936,zy14QAdQfo3IAYpSCbCllA==,North Lanarkshire,North Lanarkshire,2,0.000,0.000,11.000,74.000,85.000,0.027,South Lanarkshire,4.000
6937,zy14QAdQfo3IAYpSCbCllA==,North Lanarkshire,South Lanarkshire,1,0.000,0.000,11.000,74.000,85.000,0.014,South Lanarkshire,4.000
6938,zy14QAdQfo3IAYpSCbCllA==,South Lanarkshire,Glasgow City,6,0.000,0.000,11.000,74.000,85.000,0.081,South Lanarkshire,4.000
6939,zy14QAdQfo3IAYpSCbCllA==,South Lanarkshire,North Lanarkshire,2,0.000,0.000,11.000,74.000,85.000,0.027,South Lanarkshire,4.000
6940,zy14QAdQfo3IAYpSCbCllA==,South Lanarkshire,South Lanarkshire,3,0.000,0.000,11.000,74.000,85.000,0.041,South Lanarkshire,4.000

# Calculating Weights Based in Adult Population and HUQ Population

In [541]:
adult_population = pd.read_csv(f"D:\Mobile Device Data\OD_calculation_latest_work\\aux_files\\adultpopulation.csv")

annual_users=(
    od_trip_df.dropna(subset=['simd_quintile'])
    .groupby(['council', 'simd_quintile'])
    .agg(users=('uid', 'nunique'))
    .reset_index()
    .merge(adult_population, left_on=['council', 'simd_quintile'], right_on=['council', 'simd_quintile'], how='left')
    .groupby('council')
    .apply(lambda group: group.assign(Huq_percent=group['users'] / group['users'].sum()))
    .reset_index(drop=True)
    .assign(simd_weight=lambda df: df['percentage'] / df['Huq_percent'])
    .groupby('council')
    .apply(lambda group: group.assign(total_pop=group['Total'].sum(), huq_pop=group['users'].sum()))
    .reset_index(drop=True)
    .assign(council_weight=lambda df: (df['total_pop'] / df['Total'].sum()) / (df['huq_pop'] / df['users'].sum()))
    
    )
annual_users=annual_users[
    ['council', 
    'simd_quintile', 
    'users', 'Total', 
    'percentage',
    'Huq_percent', 
    'total_pop', 
    'huq_pop', 
    'simd_weight', 
    'council_weight']
       ]
annual_users

,council,simd_quintile,users,Total,percentage,Huq_percent,total_pop,huq_pop,simd_weight,council_weight
0,East Dunbartonshire,1.000,2,3490,0.040,0.069,89250,29,0.580,1.390
1,East Dunbartonshire,2.000,4,15399,0.170,0.138,89250,29,1.233,1.390
2,East Dunbartonshire,3.000,1,5126,0.060,0.034,89250,29,1.740,1.390
3,East Dunbartonshire,4.000,8,19369,0.220,0.276,89250,29,0.797,1.390
4,East Dunbartonshire,5.000,14,45866,0.510,0.483,89250,29,1.056,1.390
5,East Renfrewshire,1.000,3,4178,0.050,0.077,76414,39,0.650,0.885
6,East Renfrewshire,2.000,3,7831,0.100,0.077,76414,39,1.300,0.885
7,East Renfrewshire,3.000,4,6162,0.080,0.103,76414,39,0.780,0.885
8,East Renfrewshire,4.000,12,15670,0.210,0.308,76414,39,0.682,0.885
9,East Renfrewshire,5.000,17,42573,0.560,0.436,76414,39,1.285,0.885
10,Glasgow City,1.000,105,229597,0.430,0.453,535162,232,0.950,1.042
11,Glasgow City,2.000,41,93635,0.170,0.177,535162,232,0.962,1.042
12,Glasgow City,3.000,32,73942,0.140,0.138,535162,232,1.015,1.042
13,Glasgow City,4.000,23,67347,0.130,0.099,535162,232,1.311,1.042
14,Glasgow City,5.000,31,70641,0.130,0.134,535162,232,0.973,1.042
15,Inverclyde,1.000,9,27528,0.430,0.429,64647,21,1.003,1.391
16,Inverclyde,2.000,2,9082,0.140,0.095,64647,21,1.470,1.391
17,Inverclyde,3.000,3,8326,0.130,0.143,64647,21,0.910,1.391
18,Inverclyde,4.000,3,9499,0.150,0.143,64647,21,1.050,1.391
19,Inverclyde,5.000,4,10212,0.160,0.190,64647,21,0.840,1.391
20,North Lanarkshire,1.000,34,88158,0.320,0.262,278862,130,1.224,0.969
21,North Lanarkshire,2.000,33,74743,0.270,0.254,278862,130,1.064,0.969
22,North Lanarkshire,3.000,29,38838,0.140,0.223,278862,130,0.628,0.969
23,North Lanarkshire,4.000,21,46094,0.170,0.162,278862,130,1.052,0.969
24,North Lanarkshire,5.000,13,31029,0.110,0.100,278862,130,1.100,0.969
25,Renfrewshire,1.000,17,35687,0.240,0.207,149208,82,1.158,0.822
26,Renfrewshire,2.000,13,31375,0.210,0.159,149208,82,1.325,0.822
27,Renfrewshire,3.000,15,25760,0.170,0.183,149208,82,0.929,0.822
28,Renfrewshire,4.000,18,23516,0.160,0.220,149208,82,0.729,0.822
29,Renfrewshire,5.000,19,32870,0.220,0.232,149208,82,0.949,0.822
30,South Lanarkshire,1.000,17,50768,0.190,0.134,265270,127,1.419,0.944
31,South Lanarkshire,2.000,33,64040,0.240,0.260,265270,127,0.924,0.944
32,South Lanarkshire,3.000,30,52768,0.200,0.236,265270,127,0.847,0.944
33,South Lanarkshire,4.000,32,52285,0.200,0.252,265270,127,0.794,0.944
34,South Lanarkshire,5.000,15,45409,0.170,0.118,265270,127,1.439,0.944
35,West Dunbartonshire,1.000,14,28015,0.380,0.438,72856,32,0.869,1.029
36,West Dunbartonshire,2.000,5,20300,0.280,0.156,72856,32,1.792,1.029
37,West Dunbartonshire,3.000,6,12396,0.170,0.188,72856,32,0.907,1.029
38,West Dunbartonshire,4.000,5,8074,0.110,0.156,72856,32,0.704,1.029
39,West Dunbartonshire,5.000,2,4071,0.060,0.062,72856,32,0.960,1.029

In [542]:
annual_users=annual_users.rename(columns={
    'users':'huq_user_simd_level',
    'Total':'adult_pop_simd_level',
    'percentage':'adult_pop_percentage_simd_level',
    'Huq_percent':'huq_users_percentage_simd_level',
    'total_pop':'adult_pop_council_level',
    'huq_pop':'huq_users_council_level',
})
annual_users

,council,simd_quintile,huq_user_simd_level,adult_pop_simd_level,adult_pop_percentage_simd_level,huq_users_percentage_simd_level,adult_pop_council_level,huq_users_council_level,simd_weight,council_weight
0,East Dunbartonshire,1.000,2,3490,0.040,0.069,89250,29,0.580,1.390
1,East Dunbartonshire,2.000,4,15399,0.170,0.138,89250,29,1.233,1.390
2,East Dunbartonshire,3.000,1,5126,0.060,0.034,89250,29,1.740,1.390
3,East Dunbartonshire,4.000,8,19369,0.220,0.276,89250,29,0.797,1.390
4,East Dunbartonshire,5.000,14,45866,0.510,0.483,89250,29,1.056,1.390
5,East Renfrewshire,1.000,3,4178,0.050,0.077,76414,39,0.650,0.885
6,East Renfrewshire,2.000,3,7831,0.100,0.077,76414,39,1.300,0.885
7,East Renfrewshire,3.000,4,6162,0.080,0.103,76414,39,0.780,0.885
8,East Renfrewshire,4.000,12,15670,0.210,0.308,76414,39,0.682,0.885
9,East Renfrewshire,5.000,17,42573,0.560,0.436,76414,39,1.285,0.885
10,Glasgow City,1.000,105,229597,0.430,0.453,535162,232,0.950,1.042
11,Glasgow City,2.000,41,93635,0.170,0.177,535162,232,0.962,1.042
12,Glasgow City,3.000,32,73942,0.140,0.138,535162,232,1.015,1.042
13,Glasgow City,4.000,23,67347,0.130,0.099,535162,232,1.311,1.042
14,Glasgow City,5.000,31,70641,0.130,0.134,535162,232,0.973,1.042
15,Inverclyde,1.000,9,27528,0.430,0.429,64647,21,1.003,1.391
16,Inverclyde,2.000,2,9082,0.140,0.095,64647,21,1.470,1.391
17,Inverclyde,3.000,3,8326,0.130,0.143,64647,21,0.910,1.391
18,Inverclyde,4.000,3,9499,0.150,0.143,64647,21,1.050,1.391
19,Inverclyde,5.000,4,10212,0.160,0.190,64647,21,0.840,1.391
20,North Lanarkshire,1.000,34,88158,0.320,0.262,278862,130,1.224,0.969
21,North Lanarkshire,2.000,33,74743,0.270,0.254,278862,130,1.064,0.969
22,North Lanarkshire,3.000,29,38838,0.140,0.223,278862,130,0.628,0.969
23,North Lanarkshire,4.000,21,46094,0.170,0.162,278862,130,1.052,0.969
24,North Lanarkshire,5.000,13,31029,0.110,0.100,278862,130,1.100,0.969
25,Renfrewshire,1.000,17,35687,0.240,0.207,149208,82,1.158,0.822
26,Renfrewshire,2.000,13,31375,0.210,0.159,149208,82,1.325,0.822
27,Renfrewshire,3.000,15,25760,0.170,0.183,149208,82,0.929,0.822
28,Renfrewshire,4.000,18,23516,0.160,0.220,149208,82,0.729,0.822
29,Renfrewshire,5.000,19,32870,0.220,0.232,149208,82,0.949,0.822
30,South Lanarkshire,1.000,17,50768,0.190,0.134,265270,127,1.419,0.944
31,South Lanarkshire,2.000,33,64040,0.240,0.260,265270,127,0.924,0.944
32,South Lanarkshire,3.000,30,52768,0.200,0.236,265270,127,0.847,0.944
33,South Lanarkshire,4.000,32,52285,0.200,0.252,265270,127,0.794,0.944
34,South Lanarkshire,5.000,15,45409,0.170,0.118,265270,127,1.439,0.944
35,West Dunbartonshire,1.000,14,28015,0.380,0.438,72856,32,0.869,1.029
36,West Dunbartonshire,2.000,5,20300,0.280,0.156,72856,32,1.792,1.029
37,West Dunbartonshire,3.000,6,12396,0.170,0.188,72856,32,0.907,1.029
38,West Dunbartonshire,4.000,5,8074,0.110,0.156,72856,32,0.704,1.029
39,West Dunbartonshire,5.000,2,4071,0.060,0.062,72856,32,0.960,1.029

# Calculating Weighted and Extrapolated OD Trips

In [543]:
od_trip_df=od_trip_df.merge(annual_users[['council','simd_quintile','simd_weight','council_weight']],how='left',on=['council','simd_quintile'])
od_trip_df['simd_weight']=od_trip_df['simd_weight'].fillna(1)
od_trip_df['council_weight']=od_trip_df['council_weight'].fillna(1)
od_trip_df

,uid,origin,destination,trips,active_days_q1,active_days_q2,active_days_q3,active_days_q4,total_active_days,tpad,council,simd_quintile,simd_weight,council_weight
0,++E3j/UFIC0ZxfdM+8UeLw==,East Renfrewshire,Glasgow City,2,87.000,91.000,85.000,87.000,350.000,0.023,Glasgow City,3.000,1.015,1.042
1,++E3j/UFIC0ZxfdM+8UeLw==,Glasgow City,East Renfrewshire,2,87.000,91.000,85.000,87.000,350.000,0.023,Glasgow City,3.000,1.015,1.042
2,++E3j/UFIC0ZxfdM+8UeLw==,Glasgow City,Glasgow City,118,87.000,91.000,85.000,87.000,350.000,1.356,Glasgow City,3.000,1.015,1.042
3,++E3j/UFIC0ZxfdM+8UeLw==,Glasgow City,South Lanarkshire,12,87.000,91.000,85.000,87.000,350.000,0.138,Glasgow City,3.000,1.015,1.042
4,++E3j/UFIC0ZxfdM+8UeLw==,South Lanarkshire,Glasgow City,13,87.000,91.000,85.000,87.000,350.000,0.149,Glasgow City,3.000,1.015,1.042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6936,zy14QAdQfo3IAYpSCbCllA==,North Lanarkshire,North Lanarkshire,2,0.000,0.000,11.000,74.000,85.000,0.027,South Lanarkshire,4.000,0.794,0.944
6937,zy14QAdQfo3IAYpSCbCllA==,North Lanarkshire,South Lanarkshire,1,0.000,0.000,11.000,74.000,85.000,0.014,South Lanarkshire,4.000,0.794,0.944
6938,zy14QAdQfo3IAYpSCbCllA==,South Lanarkshire,Glasgow City,6,0.000,0.000,11.000,74.000,85.000,0.081,South Lanarkshire,4.000,0.794,0.944
6939,zy14QAdQfo3IAYpSCbCllA==,South Lanarkshire,North Lanarkshire,2,0.000,0.000,11.000,74.000,85.000,0.027,South Lanarkshire,4.000,0.794,0.944
6940,zy14QAdQfo3IAYpSCbCllA==,South Lanarkshire,South Lanarkshire,3,0.000,0.000,11.000,74.000,85.000,0.041,South Lanarkshire,4.000,0.794,0.944

In [544]:
#od_trip_df=od_trip_df.assign(weighted_trips=lambda d: ((d['trips']*d['simd_weight']*d['council_weight'])/d[f'active_days_q{quarter}'])*scaling_days)
#od_trip_df

od_trip_df=od_trip_df.assign(activity_weighted_trips=lambda d: ((d['trips'])/d[f'active_days_q{quarter}'])*scaling_days)
od_trip_df=od_trip_df.assign(council_weighted_trips=lambda d: (d['trips']*d['simd_weight']*d['council_weight']))
od_trip_df=od_trip_df.assign(act_cncl_weighted_trips=lambda d: ((d['trips']*d['simd_weight']*d['council_weight'])/d[f'active_days_q{quarter}'])*scaling_days)

# Final Data Products

## OD Data

In [545]:
huq_population=len(od_trip_df['uid'].unique())
adult_population=adult_population['Total'].sum()
huq_population
adult_population

1531669

In [546]:
od_tdf=od_trip_df.groupby(['origin','destination'])[['trips','activity_weighted_trips','council_weighted_trips','act_cncl_weighted_trips']].sum().round().reset_index()
od_tdf=od_tdf.assign(year=lambda df: [year for i in range(0,df.shape[0])])
od_tdf=od_tdf.assign(geography_level=lambda df: ['council_level' for i in range(0,df.shape[0])])
od_tdf=od_tdf.assign(distance_threshold=lambda df: [radius for i in range(0,df.shape[0])])

In [547]:
od_tdf=od_tdf[['year','geography_level','distance_threshold','origin','destination','trips','activity_weighted_trips','council_weighted_trips','act_cncl_weighted_trips']]
od_tdf

,year,geography_level,distance_threshold,origin,destination,trips,activity_weighted_trips,council_weighted_trips,act_cncl_weighted_trips
0,2022,council_level,500,East Dunbartonshire,East Dunbartonshire,2969,6368.000,3165.000,7332.000
1,2022,council_level,500,East Dunbartonshire,East Renfrewshire,10,41.000,11.000,46.000
2,2022,council_level,500,East Dunbartonshire,Glasgow City,665,2280.000,785.000,2624.000
3,2022,council_level,500,East Dunbartonshire,Inverclyde,3,13.000,4.000,18.000
4,2022,council_level,500,East Dunbartonshire,North Lanarkshire,263,840.000,274.000,910.000
...,...,...,...,...,...,...,...,...,...
59,2022,council_level,500,West Dunbartonshire,Inverclyde,11,54.000,13.000,59.000
60,2022,council_level,500,West Dunbartonshire,North Lanarkshire,35,129.000,33.000,125.000
61,2022,council_level,500,West Dunbartonshire,Renfrewshire,221,737.000,202.000,692.000
62,2022,council_level,500,West Dunbartonshire,South Lanarkshire,22,120.000,21.000,118.000
63,2022,council_level,500,West Dunbartonshire,West Dunbartonshire,4183,10850.000,4248.000,11028.000

# Applying Global Scaling

In [548]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
    
    
# trip_col='trips'
# od_tdf=od_tdf.assign(exp_unweighted_trips=lambda df: (df[trip_col]/huq_population)*adult_population)


# trip_col='activity_weighted_trips'
# od_tdf=od_tdf.assign(exp_weighted_trips=lambda df: (df[trip_col]/huq_population)*adult_population)

# trip_col='council_weighted_trips'
# od_tdf=od_tdf.assign(exp_weighted_trips=lambda df: (df[trip_col]/huq_population)*adult_population)

# trip_col='act_cncl_weighted_trips'
# od_tdf=od_tdf.assign(exp_weighted_trips=lambda df: (df[trip_col]/huq_population)*adult_population)

#trip_col='trips'
#od_tdf[trip_col]=(od_tdf[trip_col]/huq_population)*adult_population

trip_col='activity_weighted_trips'
od_tdf[trip_col]=(od_tdf[trip_col]/huq_population)*adult_population

trip_col='council_weighted_trips'
od_tdf[trip_col]=(od_tdf[trip_col]/huq_population)*adult_population

trip_col='act_cncl_weighted_trips'
od_tdf[trip_col]=(od_tdf[trip_col]/huq_population)*adult_population


od_tdf

,year,geography_level,distance_threshold,origin,destination,trips,activity_weighted_trips,council_weighted_trips,act_cncl_weighted_trips
0,2022,council_level,500,East Dunbartonshire,East Dunbartonshire,2969,8631564.772,4290028.659,9938227.529
1,2022,council_level,500,East Dunbartonshire,East Renfrewshire,10,55573.831,14910.052,62351.127
2,2022,council_level,500,East Dunbartonshire,Glasgow City,665,3090447.186,1064035.544,3556725.182
3,2022,council_level,500,East Dunbartonshire,Inverclyde,3,17620.971,5421.837,24398.267
4,2022,council_level,500,East Dunbartonshire,North Lanarkshire,263,1138585.805,371395.846,1233467.956
...,...,...,...,...,...,...,...,...,...
59,2022,council_level,500,West Dunbartonshire,Inverclyde,11,73194.802,17620.971,79972.098
60,2022,council_level,500,West Dunbartonshire,North Lanarkshire,35,174854.249,44730.157,169432.412
61,2022,council_level,500,West Dunbartonshire,Renfrewshire,221,998973.498,273802.777,937977.830
62,2022,council_level,500,West Dunbartonshire,South Lanarkshire,22,162655.115,28464.645,159944.196
63,2022,council_level,500,West Dunbartonshire,West Dunbartonshire,4183,14706733.319,5757991.073,14948005.073

In [549]:
path=f'U:\Projects\Huq\Faraz\\final_OD_work\\{year}\od_matrix' #f'D:\Mobile Device Data\OD_calculation_latest_work\HUQ_OD\\{year}\od_matrix'    
fname=f'od_{geography_level}_{radius}m_{year}_q{quarter}.csv'

if not os.path.exists(path):
    os.makedirs(path)


od_tdf.to_csv(join(path,fname),index=False)